* {
  border-radius: 8px;
}

h1{
    justify-content: center;
    display: flex;
    align-items: center;
}

.calculator{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 600px;
    margin: 40px auto;
    border-style: solid;
    border-color: black;
    background-color:beige;
}

.display{
    background-color: darkblue;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: greenyellow;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 10px;
}

.opButtonContainer{
    display: flex;
    flex-wrap: wrap;
}

.numButtonContainer{
    display: flex;
    flex-wrap: wrap;
}

.button{
    padding: 10px;
    flex: 25%;
    margin: 6px;
}